bs4
faiss-cpu
huggingface_hub
langchain
langchainhub
langchain-openai
langchain-community
langchain-experimental
langgraph
llama-cpp-python
loguru
markdown
matplotlib
openai
pandas
python-dotenv
sentence-transformers
tzdata
unstructured
