bs4
crewai
datasets
faiss-cpu
huggingface_hub
langchain
langchainhub
langchain-openai
langchain-community
langchain-experimental
langgraph
llama-cpp-python
loguru
markdown
matplotlib
openai
pandas
python-dotenv
semantic-router[local]
sentence-transformers
tzdata
unstructured
